@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
				font-family: 'Kumbh Sans', sans-serif;
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}
body {
		background-image:linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
}
content{
				background: white;
				display: flex;
				flex-direction: column;
				width: 90vw;
				margin: 100px auto auto auto;
				padding: 25px;
				border-radius: 25px;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
.view{
				display: flex;
				align-items:baseline;
				justify-content: space-between;
				font-size: 14px;
}
.view img{
				margin-left: 3px;
				transition: all .5s;
}
.view img.active{
				transform: rotate(180deg);
}
.view p.active{
				font-weight: bolder;
				font-size: 13px;
				
}
.view p{
				transition: all .5s;		
}
.view p:hover{
				color: hsl(14, 88%, 65%);
}
.hide{
				margin-top: 10px;
				color: hsl(238, 29%, 16%);
				font-size: 12px;
			 height: 0;
			  display: none;
			  transition:all .5;
}
.hide.active{
				height: 57px;
			  display: block;
}
.part1,.part2,.part3,.part4,.part5{
				border-bottom: 1px hsl(240, 5%, 91%) solid;
				padding: 10px;
				
}
.top{
				background-image: url('illustration-woman-online-mobile.svg');
				height: 225px;
				width: 220px;
				background-repeat: no-repeat;
				margin-left: 20px;
}
.bottom{
				background-image: url('bg-pattern-mobile.svg');
				height: 220px;
				width: 240px;
				background-repeat: no-repeat;
			 margin-top: -115px;
			 z-index: -1;
}
h1{
				text-align: center;
}
.images{
				margin: -125px auto;
}
.faq{
				margin-top: 20px;
}
@media(min-width:800px){
content{
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 65vw;
}
.hide{
				max-width: 300px;
}
.images{
			transform: translateY(100px);
			margin: auto auto auto -10px;
}
.top{
				transform: scale(1.5);
}
.bottom{
				transform: scale(1.5);
				margin-top: -100px;
}
}
